.img-esdn{
    height: 14px;
    width: 20px;
    margin-left: 35px;
    padding-right: 8px;
}
/*SEARCH FORM*/
.search-form {
    border-radius: 30px 0px 0px 30px;
    /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}
/*to cange only one form and not all give unique class name like  class="search-form" */
 .search-btn {
    border-radius: 0px 30px 30px 0px;
    cursor:pointer;
}
form#search-form {
    margin-left: 90px;
    width: 420px;
}
.btn-primary {
    color: #fff;
    background-color: #FF8E0A;
    border-color: #FF8E0A;
}
hr.line{
	border: 2px solid #FF8E0A;
	border-radius: 5px;
	margin-top: -19px;
}
h3{
	font-weight: 600;
	color:#FF8E0A;
}